<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="css/map.css" />
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBFiE5mSPFs36Wrpf02FNCnvXxIbp8-Pzk&sensor=false"></script>
    <script type="text/javascript" src="js/map.js"></script>
  </head>
  <script type="text/javascript">
    points = [
    {% for point in points %}
    [{{point.location.lat}}, {{point.location.lon}}, {{point.bearing}}, {% if point.wifi %} true {% else %} false {% endif %}],
    {% endfor %}
    ];
  </script>
  <body onload="initialize()">
    <div id="map_canvas" style="width:100%; height:100%"></div>
  </body>
</html>